<div ng-controller="RetrCont" class="Inside">
    <form class="Form">
        <br>
        <p class="Title">Retrieve Password</p>
        <p class="Text">Please enter your email:</p>
        <input class="Enter" type="text" placeholder="Email" ng-model="data.email">
        <br>
        <input class="Button" type="button" ng-click="retr()" value="Next">
        <br>
        <input class="TextButton" type="button" ng-click="goState('login')" value="Go to login in page.">
        <br>
    </form>
</div>
