<div ng-controller="SignCont" class="Inside">
    <form class="Form">
        <br>
        <p class="Title">Sign Up</p>
        <p class="Message">Please fix the errors highlighted in red. </p>
        <p class="Text">Your email address: </p>
        <input class="Enter" type="text" placeholder="Email Address" ng-model="data.email">
        <br>
        <table>
            <tr>
                <td style="padding: 0px"><p class="NameText">Your first name: </p></td>
                <td style="padding: 0px"><p class="NameText">Your last name: </p></td>
            </tr>
            <tr>
                <td style="padding: 0px"><input class="Name" type="text" placeholder="First Name" ng-model="data.name.first"></td>
                <td style="padding: 0px"><input class="Name" type="text" placeholder="Last Name" ng-model="data.name.last"></td>
            </tr>
        </table>
        <br>
        <p class="Text" id="PassText">Your password: </p>
        <input class="Enter" id="Pass" type="password" placeholder="Password" ng-model="data.pass">
        <br>
        <p class="Text" id="PassConfText">Confirm your password: </p>
        <input class="Enter" id="PassConf" type="password" placeholder="Password Confirm" ng-model="data.conf">
        <br>
        <input class="Button" type="button" ng-click="sign()" value="Sign Up">
        <br>
        <input class="TextButton" type="button" ng-click="goState('login')" value="Already have one account?">
        <br>
    </form>
</div>
